<li class="content-list-item" id="item-{counter}" data-done="{done}" data-rejected="{rejected}" title="{title}">
	<div class="content-list-item-wrapper">
		<a class="content-list-item-counter" href="#">{counter}</a>
		<div class="content-list-item-header">
			<span class="content-list-item-date">{prettyDate}</span>
			<span class="content-list-item-extra">
				<span>- {sctVersion}</span>
				<span>- {language}</span>
				<span title="{userAgent}">- {browserName}</span>
				<span title="{userAgent}">- {operatingSystemName}</span>
			</span>
		</div>
		<pre class="content-list-item-message">{message}</pre>
		<pre class="content-list-item-answer">{answer}</pre>
	</div>
</li>