*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	vertical-align: middle;
}

body{
	margin: 0 15px;
}

body, pre, button{
	font: normal 12px Verdana;
	line-height: 15px;
	color: #424242;
}

ul, li{
	list-style: none;
}

pre{
	white-space: pre-line;
}

label:not([id=""]){
	cursor: pointer;
}

button{
	padding: 2px 7px;
}

input[type=text],
input[type=email],
textarea,
select{
	padding: 4px 6px;
	border: 1px solid #AAA;
	border-radius: 2px;
}

a,
a:hover,
a:focus,
a:visited{
	vertical-align: top;
	text-decoration: none;
	color: #0070CA;
}

a:hover{
	text-decoration: underline;
}

.display-none{
	display: none;
}

.page-title{
	font-size: 20px;
	text-align: center;
	color: #0064B3;
}

.page-note{
	margin: 15px 0;
	font-size: 16px;
	color: #CC3100;
}