<li class="content-list-item" id="item-{counter}">
	<div class="content-list-item-wrapper">
		<a class="content-list-item-counter" href="#">{counter}</a>
		<div class="content-list-item-header">
			<span class="content-list-item-date">{prettyDate}</span>
		</div>
		<div>
			<label>SCT Version:</label>
			<span>{sctVersion}</span>
		</div>
		<div>
			<label>Language:</label>
			<span>{language}</span>
		</div>
		<div>
			<label>O.S.:</label>
			<span title="{userAgent}">{operatingSystemName}</span>
		</div>
		<div>
			<label>Browser:</label>
			<span title="{userAgent}">{browserName}</span>
		</div>
	</div>
</li>